h1 {
    text-align: center;
}

div {
    font-size: 30px;
    text-align: center;
}

#main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#main .content {
    background-color: rgb(126, 125, 207);
}

#main .sidebar {
    background-color: aquamarine;
}

footer {
    font-size: 30px;
    text-align: center;
    background-color: rgb(145, 204, 255);
}

/* 미디어 쿼리 */
@media (max-width:600px) { /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    #main {
        display: block;
    }
    #main .sidebar{
        min-height: 0;
    }
}